.container {
    border-radius: 16px;
    border-style: solid;
    border-color: green;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 16vw;
    max-width: 14vw;
    padding: 1em;
    box-shadow: 5px 5px 5px gray;
        
    
}
.id {
    display: flex;
    justify-content: flex-end;
}
.name {
    display: flex;
    justify-content: center;
    text-align: center;
}
.name h2::first-letter {
    text-transform: uppercase;
}
