.main {
    border-radius: 10px;
    height: 100%;
    margin: 0;
    padding: 0;

}
.header-modal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 0.6em;
}
.header-modal h1::first-letter {
    text-transform: uppercase;
}
.img-card {
    padding: 0.6em;
}
.img-card img {
    width: 186px;
    height: 180px;
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 10%;
}
.container_bottom {
    border-style: solid;
    border-radius: 10px;
    position: relative;
    margin: 25% 0.5em 0.5em 0.5em;
    padding-top: 20%;
    background-color: white;
}
.about {
    padding: 0.6em;
}
.body {
    display: flex;
    justify-content: space-between;
    margin: 10px 10%;
}
.weight, .height {
    border-right-style: solid ;
    border-width: 1px;
    width: 33.3%;
}
.weight div {
    display: flex;
    margin: 10% 20%;
}
.weight div img {
    margin: 6%;
}
.height div {
    display: flex;
    margin: 10% 20%;
}
.height div img {
    margin: 6%;
}
.moves {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.types h4 {
    display: flex;
    gap: 20px;
    
}
.types h4 p {
    border-radius: 50px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
}
.types h4 p::first-letter {
    text-transform: uppercase;
}
.moves p::first-letter {
    text-transform: uppercase;
}
h1, h3, h4 > p {
    color: white;
}

/* Barras de pogreso en las caracteristicas */

.stats__item {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}
.stats_value {
    width: 26px;
}
.stats__item .stats-name {
    border-right-style: solid ;
    border-width: 1px;
    width: 15%;
}
.stats__bar {
    border-radius: 50px;
    margin: 5px 0px;
    width: 100%;
}


/* Colores segun tipo de pokemon */

.cardrock, .types_p {
    background-color: #B69E31;
}

.cardghost, .types_p {
    background-color:#70559B;
}

.cardsteel, .types_p {
    background-color: #B7B9D0;
}


.cardwater, .types_p {
    background-color:#6493EB;
}

.cardgrass, .types_p {
    background-color:#74CB48;
}


.cardpsychic, .types_p {
    background-color:#FB5584;
}

.cardice, .types_p {
    background-color:#9AD6DF;
}

.carddark, .types_p {
    background-color:#75574C;
}

.cardfairy, .types_p {
    background-color:#E69EAC;
}

.cardnormal, .types_p {
    background-color:#AAA67F;
}

.cardfighting, .types_p {
    background-color:#C12239;
}

.cardflying, .types_p {
    background-color:#A891EC;
}

.cardpoison, .types_p {
    background-color:#A43E9E;
}

.cardground, .types_p {
    background-color:#DEC16B;
}

.cardbug, .types_p {
    background-color:#A7B723;
}

.cardfire, .types_p {
    background-color:#F57D31;
}

.cardelectric, .types_p {
    background-color:#F9CF30;
}

.carddragon, .types_p  {
    background-color:#7037FF;
}

/* color types */

.p_rock {
    color: #B69E31;
}

.p_ghost {
    color:#70559B;
}

.p_steel {
    color: #B7B9D0;
}


.p_water {
    color:#6493EB;
}

.p_grass {
    color:#74CB48;
}


.p_psychic {
    color:#FB5584;
}

.p_ice {
    color:#9AD6DF;
}

.p_dark {
    color:#75574C;
}

.p_fairy {
    color:#E69EAC;
}

.p_normal {
    color:#AAA67F;
}

.p_fighting {
    color:#C12239;
}

.p_flying {
    color:#A891EC;
}

.p_poison {
    color:#A43E9E;
}

.p_ground {
    color:#DEC16B;
}

.p_bug {
    color:#A7B723;
}

.p_fire {
    color:#F57D31;
}

.p_electric {
    color:#F9CF30;
}

.p_dragon  {
    color:#7037FF;
}

