.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 23%;
    padding: 0px;
    height: auto;
    top:50%;
    left:50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  .close {
    float: left;
    border-style: none;
    border-radius: 8px;
    margin: 1em;
  }
  .close:hover {
    animation: pulsate 1s ease-in-out;
}
@keyframes pulsate {
    0% {
        box-shadow: 0 0 25px rgb(87, 67, 67),
        0 0 25px rgb(87, 68, 69)
    }}