.buttonAdd {
    background-color: #666666;
    border-color: #666666;
    border-style: none;

}

.imgAdd {
    margin: 10px 0;

}

.loginContainer{
    border-style: none;
    width: 7em;
    margin: auto;
    display: inline-block;
        
}
